@page "/games"
@inject IGameService GameService
@attribute [StreamRendering(true)]

<h3>GameList</h3>

@if (games == null)
{
	<span>Loading...</span>	
}
else if(games.Count == 0)
{
	<span>No games found.</span>
}
else
{
	<ul>
		@foreach (var game in games)
		{
			<li>@game.Name <EditGameButton Id="game.Id" /> </li>
		}
	</ul>
	<table>
		<thead>
			<tr>
				<th>#ID</th>
				<th>Name</th>
				<th>Date</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var game in games)
			{
				<tr>
					<td>@game.Id</td>
					<td>@game.Name</td>
					<td>@game.CreatedAt</td>
					<td>
						<EditGameButton Id="game.Id" />
					</td>
				</tr>
			}
		</tbody>
	</table>
}

<CreateGameButton />

@code {
	List<Game>? games = null;

	protected override async Task OnInitializedAsync()
	{
		// Simulate asynchronous loading to demonstrate streaming rendering
		await Task.Delay(1000);
		games = await GameService.GetAllGames();
	}
}