@page "/putorder"
@attribute [StreamRendering(true)]
@inject IOrderService OrderService
@inject IProductService ProductService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject CheckLogin CheckLogin

<CheckLogin />

<h3>PutOrder</h3>

<InputNumber TValue="int"></InputNumber>

@if (isAdmin)
{
	
}
else
{
	<select required>
		
	</select>
}

@code {
	bool isAdmin = false;
	List<Product>? products = null;
	
	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		isAdmin = authState.User.IsInRole("Admin");
		products = await ProductService.GetAllProducts();
	}
}
