@inject NavigationManager NavigationManager
@* To add Interactivity now need to import RenderMode and add @rendermode like this *@
@rendermode InteractiveServer
@inject IProductService ProductService
@inject IUserService UserService

@* MISC *@
@if (Prefab == "LOGOUT")
{
	<div class="nav-item px-3">
		<button type="submit" class="btn btn-outline-primary small-btn" @onclick="MethodWrapper" style="color:white">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
				<path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
			</svg> Logout
		</button>
	</div>
}

@if (Prefab == "ORDER_PER_WAREHOUSE")
{
	<div class="nav-item px-3">
		<button type="submit" class="btn btn-outline-primary small-btn" @onclick="MethodWrapper">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
				<path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
			</svg> See Orders
		</button>
	</div>
}

@if (Prefab == "CHANGE_ROLE")
{
	<button @onclick="MethodWrapper" class="btn btn-outline-primary">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
			<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
			<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
		</svg>
	</button>
}

@if (Prefab == "CREATE_ORDER")
{
	<button @onclick="MethodWrapper" class="btn btn-outline-primary">
		<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
			<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
		</svg>Create Order
	</button>
}

@* CRUD PRODUCT *@

@if (Prefab == "CREATE_PRODUCT")
{
	<button @onclick="MethodWrapper" class="btn btn-outline-primary">
		<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
			<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
		</svg>Create Product
	</button>
}

@if (Prefab == "UPDATE_PRODUCT")
{
	<button @onclick="MethodWrapper" class="btn btn-outline-primary">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
			<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
			<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
		</svg>
	</button>
}

@if (Prefab == "DELETE_PRODUCT")
{
	<button @onclick="MethodWrapper" class="btn btn-outline-danger">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
			<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
			<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
		</svg>
	</button>
}

@code {
	[Parameter]
	public string Prefab { get; set; } = String.Empty;
	[Parameter]
	public int Id { get; set; }

	async void MethodWrapper()
	{
		switch (Prefab)
		{
			case ("LOGOUT"):
				UserService.Logout();
				NavigationManager.NavigateTo("/", true);
				break;
			case ("ORDER_PER_WAREHOUSE"):
				NavigationManager.NavigateTo($"/order-in-warehouse/{Id}");
				break;
			case ("CREATE_ORDER"):
				NavigationManager.NavigateTo("/put-order");
				break;
			case ("CREATE_PRODUCT"):
				NavigationManager.NavigateTo("/create-product/CREATE");
				break;
			case("UPDATE_PRODUCT"):
				NavigationManager.NavigateTo($"/update-product/UPDATE/{Id}");
				break;
			case ("DELETE_PRODUCT"):
				await ProductService.DeleteProduct((int)Id);
				NavigationManager.NavigateTo("/dashboard", true);
				break;
			default:
				throw new Exception("Associated method don't created correcltly");
		}
	}
		/*
		 *

	void CreateOrder()
		{
		
	}

	void UpdateProduct()
		{
		
	}

	void UpdateUserRole()
		{
		NavigationManager.NavigateTo($"/update-user-role/{Id}");
	}

	void OrdersInWarehouse(string path)
		{
		NavigationManager.NavigateTo(path);
	}

	async void DeleteProduct()
		{
		if (Id == -1)
			throw new Exception();
		else
			{
			
	}
		}*/
}
