@page "/edit-game"
@page "/edit-game/{id:int}"
@inject IGameService GameService
@rendermode InteractiveAuto

@if (Id == null)
{
	<h3>Create Game</h3>
}
else
{
	<h3>Edit @game.Name</h3>
}

<EditForm Model="game" OnSubmit="HandlerSubmit">
	<label>Name</label>
	<InputText @bind-Value="game.Name">@game.Name</InputText>
	<button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

	@code {
	[Parameter]
	public int? Id { get; set; }
	Game game { get; set; }  = new Game { Name = string.Empty };

	protected override async Task OnParametersSetAsync()
	{
		game = await GameService.GetGameById((int)Id);
	}

	async Task HandlerSubmit()
	{
		await GameService.AddGame(game);
	}
}