@page "/create-game/{sid}"
@page "/update-game/{sid}/{id:int}"
@inject IProductService GameService
@inject NavigationManager NavigationManager
@rendermode InteractiveAuto

@if (Id == null)
{
	<h3>Create Game</h3>
}
else
{
	<h3>Edit product.Name</h3>
}

<!--
<EditForm Model="product" OnSubmit="HandlerSubmit">
	<label>Name:</label>
	<InputText @bind-Value="game.Name">@game.Name</InputText>
	<br />
	<button type="submit" class="btn btn-outline-primary small-btn">
		@SID
	</button>
</EditForm>-->

@code {
	[Parameter]
	public int? Id { get; set; }
	[Parameter]
	public string SID { get; set; } = String.Empty;

	//Product product { get; set; }  = new Product { Name = string.Empty, CreatedAt = DateTime.UtcNow };

	protected override async Task OnParametersSetAsync()
	{
		if(Id != null)
		{
			//game = await GameService.GetGameById((int)Id);	
		}
	}

	async Task HandlerSubmit()
	{
		if(Id == null)
		{
			//await GameService.AddGame(game);
		}
		else
		{
			//await GameService.EditGame((int)Id, game);
		}
		NavigationManager.NavigateTo("/games");
	}
}